https://docs.fast.ai/tutorial.tabular

In [1]:
from fastai.tabular.all import *
import pandas as pd

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
path.ls()

(#3) [Path('/Users/rbasnet/.fastai/data/adult_sample/adult.csv'),Path('/Users/rbasnet/.fastai/data/adult_sample/export.pkl'),Path('/Users/rbasnet/.fastai/data/adult_sample/models')]

In [3]:
df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [4]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [5]:
to = TabularPandas(df, procs=[Categorify, FillMissing, Normalize],
                   cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'],
                   cont_names = ['age', 'fnlwgt', 'education-num'],
                   y_names='salary',
                   splits=splits)

In [6]:
dls = to.dataloaders(bs=64)

In [7]:
dls.show_batch()

In [8]:
learn = tabular_learner(dls, metrics=accuracy)

In [9]:
learn.fit_one_cycle(2)

In [10]:
learn.show_results()

In [14]:
row, clas, probs = learn.predict(df.iloc[0])

In [15]:
for i in range(10):
    row, clas, probs = learn.predict(df.iloc[i])

In [16]:
row.show()

In [13]:
clas, probs

(tensor(0), tensor([0.5541, 0.4459]))